<!DOCTYPE html>
<html lang="en">
<head>
    <title>All Time Starting 5</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express To-Do</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head> 

<body>
    <h1>All Time Starting 5</h1>
    <ul id='nav' >
        <li class='nav'><a class='nav' href="">MY LINEUPS</a></li>
        <li class='nav'><a class='nav' href='/users/new'>CREATE A NEW LINEUP</a></li>
        <li class='nav'><a class='nav' href="">ALL LINEUPS</a></li>
        <li class='nav'><a class='nav' href="">TOP RANKED LINEUPS</a></li>
        <li class='nav'>
        <% if (user) { %>
            <a class='nav' id='login' href="/logout">Log Out</a>
        <% } else { %>
            <a class='nav' id='login' href="/auth/google">Login with Google</a>
        <% } %>
        </li>
      </ul>
      <div class="container">
        <div class="row">
          <div id="users" class="col s12">
            <% users.forEach(function(user) { %>
              <div class="card blue-grey">
                <div class="card-content white-text">
                  <div>
                    <span class="card-title">
                      <% if (user.avatar) { %>
                        <img src="<%= user.avatar %>" alt="" class="circle responsive-img">&nbsp;&nbsp;
                      <% } else { %>
                        <i class="small material-icons">USER:</i>
                      <% } %>
                      <span class="user-name"><%= user.name %></span>
                      <% if (user.cohort) { %>
                        <span class="badge white">SEI <%= user.cohort %></span>
                      <% } %>
                    </span>
                  </div>
                  <ul class="collection">
                    <% user.lineups.forEach(function(lineup) { %>
                      <li class="collection-item blue-grey-text text-darken-2">
                        <!-- Add delete form - don't forget to install method-override -->
                        <span class="title"><%- lineup.pointGuard %></span>
                        <span class="title"><%- lineup.shootingGuard %></span>
                        <span class="title"><%- lineup.smallForward %></span>
                        <span class="title"><%- lineup.powerForward %></span>
                        <span class="title"><%- lineup.center %></span>
                        <% if (user._id.equals(user && user._id)) { %>
                          <form action="/lineups/<%= lineup._id %>?_method=DELETE" method="POST" class="secondary-content">
                            <button type="submit" class="btn-small red-text">X</button>
                          </form>
                        <% } %>
                      </li>
                    <% }) %>
                  </ul>
                  <% if (user._id.equals(user && user._id)) { %>
                    <div class="card-action">
                      <form action="/lineups" method="POST">
                        <label>Point Guard
                        <select name="pointGuard">
                            <option value="AUS">AUSTIN</option>
                            <option value="DAL">DALLAS</option>
                            <option value="LAX">LOS ANGELES</option>
                            <option value="SEA">SEATTLE</option>
                        </select> </label
                        ><br />
                        <label>Shooting Guard
                            <select name="shootingGuard">
                                <option value="AUS">AUSTIN</option>
                                <option value="DAL">DALLAS</option>
                                <option value="LAX">LOS ANGELES</option>
                                <option value="SEA">SEATTLE</option>
                            </select> </label
                            ><br />
                            <label>Small Forward
                                <select name="smallForward">
                                    <option value="AUS">AUSTIN</option>
                                    <option value="DAL">DALLAS</option>
                                    <option value="LAX">LOS ANGELES</option>
                                    <option value="SEA">SEATTLE</option>
                                </select> </label
                                ><br />
                                <label>Power Forward
                                    <select name="powerForward">
                                        <option value="AUS">AUSTIN</option>
                                        <option value="DAL">DALLAS</option>
                                        <option value="LAX">LOS ANGELES</option>
                                        <option value="SEA">SEATTLE</option>
                                    </select> </label
                                    ><br />
                                    <label>Center
                                        <select name="center">
                                            <option value="AUS">AUSTIN</option>
                                            <option value="DAL">DALLAS</option>
                                            <option value="LAX">LOS ANGELES</option>
                                            <option value="SEA">SEATTLE</option>
                                        </select> </label
                                        ><br />
                        <button type="submit" class="btn white-text">Add lineup</button>
                      </form>
                    </div>
                  <% } %>
                </div>
              </div>
            <% }) %>
          </div>
        </div>
      </div>
</body>
</html>